{% extends "layout.html" %}
{% block content %}
    {% if datas %}
        <div class="mainTable">
            <table id="table" border="1" style=" margin-left: 25%; width: 700px; background-color: antiquewhite;">
                <tr class=" table-dark table-active text-uppercase text-white">
                    <th style="font-size:20px;">Row Id</th>
                    <th style="font-size:20px;">Customer Name</th>
                    <th style="font-size:20px;">Choice</th>
                    <th style="font-size:20px;">Phone</th>
                    <th style="font-size:20px;">Address</th>
                </tr>
                {% for data in datas %}
                    <tr border="1">
                        <td style="font-size:20px;">{{ data.id }}</td>
                        <td style="font-size:20px;">{{ data.username }}</td>
                        <td style="font-size:20px;">{{ data.choice }}</td>
                        <td style="font-size:20px;">{{ data.phone }}</td>
                        <td style="font-size:20px;">{{ data.address }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <legend>
            <h5 style="  margin-left: 25%;">
                Is there any done order</h5>
        </legend>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.id.label(class="form-control-label", style="margin-left: 25%;") }}
                {% if form.id.errors %}
                    {{ form.id(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.id.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.id(class="form-control form-control-lg", style=" margin-left: 25%; width: 100px") }}
                {% endif %}
            </div>
            <div class="form-group" style=" margin-left: 25%;">
                <button type="submit" name="done" class="btn btn-success">Done</button>
            </div>
        </form>
    {% else %}
        <h2 style=" margin-top: 5px; margin-left: 25%;">You've finished your job! Just relax.</h2>
    {% endif %}
{% endblock %}
